<div class="card">
    <div class="card-header">
      Lista de Producto </div>
    <div class="card-body">
        <a class="btn btn-primary" [routerLink]="['/productos/registrar']">Registrar nuevo</a>
      <table class="table caption-top">
        <caption></caption>
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">NOMBRE</th>
            <th scope="col">CATEGORIA</th>
            <th scope="col">PRECIO</th>
            <th scope="col">CANTIDAD</th>
            <th scope="col">ACCIONES</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let itemPersona of listaProductos">
            <td>{{itemPersona.idproducto}}</td>
            <td>{{itemPersona.nombre}}</td>
            <td>{{itemPersona.categoria}}</td>
            <td>{{itemPersona.precio}}</td>
            <td>{{itemPersona.cantidad}}</td>
            <td>
            <button>Editar</button>
            <button>Detalle</button>
            <button>Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>